/* Global reset*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,600;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
}

/* Nav */

nav,
.nav-links {
    display: flex;

}

nav {
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
}